header {background-color: #202020;
    padding: 32px;
    font-family: 'Noto Sans Mono', monospace;
    color: #f2f2f2;

}

body { 
    background-color: #f8f4eb;
    font-family: 'Noto Sans Mono', monospace;
 }
 h1 { 
     color: black
 }
 p {
     color: black
  }
  nav {text-align: right;
}

.topnav {
    overflow: scroll;
    background-color: rgb(20, 20, 20);
    }

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover { 
    background-color: wheat;
    color: black;
}
.topnav a.active{
    background-color: wheat;
    color: black;}
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(8,1fr);
    grid-gap: 3px;
    justify-content: center;
    align-items: center;
}
.header {
    grid-column-start:1;
    grid-column-end: 2;
    grid-row: 1;
}
.menu {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
}
.about_me_content { 
    grid-column-start:1 ;
    grid-column-end: 2;
    grid-row: 2;
}
.self_portrait {
    grid-column-start:3 ;
    grid-column-end: 4;
    grid-row: 2;

}
.skills_heading {
    grid-column-start:1 ;
    grid-column-end: -1;
    grid-row: 3;
 }
.programming_languages {
    grid-column-start:1 ;
    grid-column-end: 2;
    grid-row: 4;
}
.python_libs {
    grid-column-start:2 ;
    grid-column-end:3;
    grid-row: 4;
}

.business_skills {
    grid-column-start:3 ;
    grid-column-end: 4;
    grid-row: 4;
}

.contact_me {
    grid-column-start:1 ;
    grid-column-end: -1;
    grid-row: 5;
}
.resume {
    grid-column-start:1 ;
    grid-column-end: -1;
    grid-row: 6;

}

.contact_logos {
    width: 64px;
    height: 64px;
}