header {background-color: #202020;
    padding: 32px;
    font-family: 'Noto Sans Mono', monospace;
    color: #f2f2f2;
}

body { 
    background-color: #f8f4eb;
    font-family: 'Noto Sans Mono', monospace;
 }


p {
     color: black;
  }

.topnav {
    overflow: hidden;
    background-color: rgb(20, 20, 20);
    grid-area: m;
}

.topnav a {
    color: #f2f2f2;
    display: inline-block;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.topnav a:hover { 
    background-color: wheat;
    color: black;
}

.topnav a.active{
    background-color: wheat;
    color: black;
}

.topnav .icon {
    display: none;
  }

.container {
    display: grid;
    height:auto;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 70px 80px auto 70px auto 110 110 ;
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "m m m m m m m m m m m m"
    "p p p p p p a a a a a a"
    "s s s s s s s s s s s s"
    "r r r r l l l l o o o o"
    "c c c c c c c c c c c c"
    "d d d d d d d d d d d d";
    grid-gap: 3px;
    justify-content: center;
}
.header {
    grid-area: h;
}
.menu {
    grid-area: m;
}
.about_me_content {
    grid-area: p;
}
.self_portrait {
    grid-area: a;
    justify-items: center;
}
.skills_heading {
    grid-area: s;
    background-color: black;
    color: #f2f2f2;
    text-align: center;
 }
.programming_languages {
    grid-area: r;
}
.python_libs {
    grid-area: l;

}

.business_skills {
    grid-area: o;

}

.contact_me {
    grid-area: c;
}
.resume {
    grid-area: d;

}
.contact_logos {
    width: 64px;
    height: 64px;
}
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
.topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
}
@media screen and (max-width:833px) {
    .container { 
     display: grid;
    height:auto;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-template-rows: 70px 80px auto auto auto auto auto auto 110 110 ;
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "m m m m m m m m m m m m"
    "p p p p p p p p p p p p"
    "a a a a a a a a a a a a"
    "s s s s s s s s s s s s"
    "r r r r r r r r r r r r"
    "l l l l l l l l l l l l"
    "o o o o o o o o o o o o"
    "c c c c c c c c c c c c"
    "d d d d d d d d d d d d";
    grid-gap: 3px;
    justify-content: center;
}}}