body { 
    background-color: aliceblue;
 }
 h1 { 
     color: black
 }
 p {
     color: black
  }
.topnav {
    overflow:hidden;
    background-color: rgb(37, 35, 35);
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover { 
    background-color: #ddd;
    color: white;
}
.topnav a.active{
    background-color: #2a0680;
    color: white;}
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px;
    grid-gap: 3px;
}